h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 2px rgb(75, 70, 70);
}

.title {
    color: rgba(111, 221, 67, 0.932);

}

#italic {
    color: blue
}

nav {
    background: cornflowerblue;
    text-align: center;

}

.nav-wrapper{
    background-color: blue;
    
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
    
}

nav li {
    display: inline-block; 
    padding: 60px;
}

.container {
    border: 10px dashed rgb(255, 0, 0);
    margin: 50px 5px 25px 0px;
    padding: 30px 0px 10px 35px; 
}



.circle-img {
    border-radius: 50%;
}



.box {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger {
    0%{transform: scale(1);}
    50%{transform: scale(2);}
    100%{transform: scale(1);}
}

#box3 {
    animation: getBigger infinite 8s ;
    border-radius: 50%;
    background: orange;
}

@keyframes changeColor {
    0% {background-color: gray;}
    25% {background-color: pink;}
    50% {background-color: black;}
    75% {background-color: red;}
    100% {background-color: gray;}
}

#box4 {
    animation: changeColor 3s 2 forwards;
}

@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    animation: moveBox 5s 3s;
    background: red;
}

#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}

.flex{
    margin: 30px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

form input, textarea, button {
    display: block;
    margin: 30px;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 19% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: white;
  }

  .Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;
    margin: 10px;

  }

  .a {
    grid-column: col 1/ span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple);
  }
  .d {
    grid-column: col 2/ span  1 ;
    grid-row: row  3;
    display: flex;
    justify-content: center;
  }

  .e {
    grid-column: col 4/ span  1;
    grid-row: row 3;
    display: flex;
    justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(purple, yellow, pink);
  }